.sub-form{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.second-step{
    display: flex;
    justify-content: space-between;
}

.w-33p{
    width: 33% !important;
}

.action-button-second{
    display: flex;
    justify-content: space-between;
}

.card-text-icon{
    font-size:36px;
    display: inline-block;
    .text-icon{
      padding: 50px;
      background: #f9ebea;
      display: inline-block;
      border-radius: 50%;
      color: #f44336;
    }
}