.sub-form{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.second-step{
    display: flex;
    justify-content: space-between;
}

.w-33p{
    width: 33% !important;
}

.action-button-second{
    display: flex;
    justify-content: space-between;
}