<div class="dashboard">
    <div class="container">
        <div class="top-bar">
            <div>
                <select (change)="userStatusSelect($event)" style="border: none;
                padding: 10px;
                font-size: 20px;
                color: #3f51b5;
                background: transparent;">
                    <option value="active" selected>
                        Total Active Users
                    </option>
                </select>
                <mat-hint style="position: relative;
                left: -186px;
                top: 20px;">Total of <strong>{{roles.length}}</strong> roles</mat-hint>
            </div>
            <button mat-stroked-button color="primary" (click)="openDialog()"> + Add Role</button>
        </div>
        <div class="search">
            <form [formGroup]="searchForm" class="example-form" (ngSubmit)="submitSearch(searchForm)">
                <div class="input-container mat-elevation-z2" style="padding: 5px 10px;
                border-radius: 15px;
                background: white;">
                    <mat-icon class="v-middle icon">search</mat-icon> &nbsp;
                    <input placeholder="Search" class="input-field" (keyup)="applyRoleSearch($event)"  formControlName="search"  >
                  </div>
            </form>
        </div>
        <div class="roles">
            <mat-card class="example-card" *ngFor="let role of rolesData">
                <mat-card-content class="text-center">
                    <div class="card-text-icon">
                        <label class="text-icon">{{role.name[0] | titlecase}}</label>
                    </div>
                    <p class="card-role-name">
                        <strong>{{role.name | titlecase}}</strong>
                    </p>
                    <ng-container>
                        <p class="card-access-points">{{role.totalAccess}} access points</p>
                    </ng-container>
                    <mat-slide-toggle color="primary" [checked]="role.isActive">Active</mat-slide-toggle>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="role-table">
            <p class="role-table-title">All Roles Access</p>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef class="w-20p"> Description </th>
                    <td mat-cell *matCellDef="let element" class="w-20p">
                        <mat-icon class="v-bottom icon">{{element.icon}}</mat-icon> &nbsp;
                       {{element.name}} 
                    </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container *ngFor="let col of roles" matColumnDef="{{col.name}}">
                    <th mat-header-cell *matHeaderCellDef class="w-16p"> {{col.name}} </th>
                    <td mat-cell *matCellDef="let element" class="w-16p">
                        <mat-checkbox color="primary" [checked]="element[col.columnName]">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
            </mat-table>
        </div>
    </div>
</div>